
db.pyc

*.pyc

*.pyc

*.pyc

FieldEmployee.pyc

import_file.pyc

models/Allowances.pyc

models/AuthorizedManHours.pyc

models/ClientContactPersons.pyc

models/DetachmentContactPersons.pyc

models/Detachments.pyc

models/Clients.pyc

models/FieldEmployees.pyc

models/FieldEmployeeTypes.pyc

models/HolidayMOR.pyc

models/IncentiveMOR.pyc

models/ManHourLogs.pyc

models/OfficeEmployees.pyc

models/Logs.pyc

models/OfficeEmployeeTypes.pyc

models/PagibigCalamityLoans.pyc

models/PayrollRecord.pyc

models/PagibigSalaryLoans.pyc

models/PersonalPayables.pyc

models/Rates.pyc

models/RateType.pyc

models/Receivables.pyc

models/SSSContributions.pyc

models/SSSLoans.pyc

models/UniformDeposits.pyc

views.py
